node_modules
.git
.gitignore
.env
.env.local
.env.production
.env.test
backend/node_modules
frontend/node_modules
frontend/dist
backend/uploads
logs
*.log

!backend/.env
!backend/gcp-key.json
!backend/package.json
!backend/package-lock.json
